body {
  background-image: url(sm.jpg);
}
hgroup {
   text-align: center;
}
h1 {
      font-size: 68px;
  color: #336B8C;
   font-style: italic;
}
h2 {
  font-size: 65px;
  color: #336B8C;
   font-style: italic;
}
h3 {
  font-size: 60px;
  color: #336B8C;
  font-style: italic;
}
h4 {
  font-size: 55px;
  color: #336B8C;
   font-style: italic;
}
h5 {
  font-size: 55px;
  color: red;
   font-style: italic;
}
a {
    color: red;
}
